<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<import resource="components-context.xml" />
	<bean parent="dorado.packagesConfigLoader">
		<property name="configLocation"
			value="com/bstek/dorado/cloudo/ace/packages-config.xml" />
	</bean>



</beans>