::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(51, 63, 88, 0.30);
}

::-webkit-scrollbar-thumb {
	background: rgba(246, 246, 246, 0.20);
}

::-webkit-scrollbar-corner,::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(100, 100, 100, 0.4);
}

.ace-editor-statusBar {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 60px;
	height: 18px;
	background-color: transparent;
	color: gray;
}

.ace_status-indicator {
	color: gray;
	position: absolute;
	right: 20;
	border-left: 1px solid;
}